<div style="text-align: center;">
    <h1 class="animate__animated animate__backInLeft"><span style="color: red;">JOEL ALEXANDER MUÑOZ VELEZ</span></h1>
    <img src="assets/img/avatar.gif" width="500" height="500" style="display: block; margin: 0 auto;">
    <div style="text-align: justify; max-width: 600px; margin: 0 auto;">
        <hr>
        <section class="academico">
            <h2 class="animate__animated animate__bounceIn">BIOGRAFÍA</h2>
            <p>
                Nacido el 21 de abril de 2005, soy un estudiante de la Universidad Técnica de Machala (UTMACH), actualmente matriculado en la carrera de Tecnologías de la Información en la Facultad de Ingeniería Civil. A mis 18 años, mantengo un perfil discreto y prefiero
                centrarme en mi desarrollo personal y académico.
                <br><br> Desde temprana edad, he sentido una fuerte inclinación por la tecnología y la informática. Me destaco por mi capacidad para resolver problemas y mi dedicación al aprendizaje tanto didacta como autodidacta en este campo. Aunque
                no busco destacar, reconozco mis habilidades y me esfuerzo por mejorarlas constantemente.
                <br><br> Mi enfoque principal está en adquirir conocimientos sólidos y habilidades prácticas que me preparen para enfrentar los desafíos del mundo digital. Si bien mi compromiso está principalmente en mi desarrollo académico, también
                estoy abierto a explorar oportunidades que enriquezcan mi experiencia y conocimientos en tecnología.
                <br><br> Con una mentalidad enfocada en el crecimiento y el aprendizaje continuo, estoy seguro de que alcanzaré mis metas y me convertiré en un profesional exitoso en el campo de las tecnologías de la información.
            </p>
        </section>
        <hr>
        <section class="personal">
            <h2 class="animate__animated animate__bounceIn">DATOS PERSONALES</h2>
            <h4><b>CÉDULA DE IDENTIDAD</b></h4>
            <p>0750544793</p>
            <h4><b>NÚMERO DE TELÉFONO</b></h4>
            <p>0963450454</p>
            <h4><b>CORREO ELECTRÓNICO</b></h4>
            <p>jmunoz14utmachala.edu.ec</p>
        </section>
    </div>
</div>
